.breadcrumb {
    margin-top: 20px;

    .container{
        max-width: 1110px;
    }

    .breadcrumb-list {
        list-style: none;
        margin: 0 0 40px 0;
        padding: 0;
        color: $color-theme;

        li {
             display: inline-block;
             font-weight: 500;

            a {
                color: $color-dark;

                &:hover {
                    color: $color-theme;

                }
            }
            & + li:before {
                content: "\00a0\00a0>\00a0\00a0";
                font-weight: 400;
                color: $color-dark; 
            }
        }
    }
}