footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color : $color-extralightgray;
    padding: 25px;

    .socialmedia {
        margin-bottom: 25px;

        a{
            font-size: 20px;
            color: $color-dark;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            transition: all 0.1s ease-in-out;
       

            &:hover {
                color: $color-theme;
                text-decoration: none;
            }
        }
    }
}