.gradient-gray {
    // background-color: $color-backgroundgray;
    background: $linear-gradient-dark;
    background: linear-gradient(90deg, ($linear-gradient-dark) 0%, ($linear-gradient-light) 100%);
}

.mainmenu {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menuicons"
                         "menulinks menulinks";
 
 
    .logo {
         grid-area: logo;
         font-size: 35px;
         font-weight: 700;
         color: $color-dark;
         text-decoration: none;
 
        &:hover{
             color: $color-theme;
             text-decoration: none;
        }
           
    }
    .menu-links {
        grid-area: menulinks;
        // display: grid;
        display: none;
        overflow: hidden;
        font-weight: 400;
        height: 100%;
    
        .menu-link {
            color: $color-dark;
            font-weight: 500;
            text-decoration: none;
            margin: 15px 15px;
 
            &:hover{
                color: $color-theme;
                text-decoration: none;
            }
        }
        .active {
            color: $color-theme;
            text-decoration: none;
        }
    }
 
     .menu-icons {
         grid-area: menuicons;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         
       
 
        .menu-icon {
            background-color: $color-white;
            color: $color-dark;
            width: 36px;
            height: 36px;
            margin-left: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 6px 4px $color-shadow ;
            position: relative;
            transition: all 0.1s ease-in-out;
           
 
            &:hover {
                color: $color-white;
                background-color: $color-dark;
                text-decoration: none;
                box-shadow: 0 0 6px 4px $color-shadow ;
            }
        }
        .active {
            color: $color-white;
            background-color: $color-dark;
            text-decoration: none;
            box-shadow: 0 0 6px 4px $color-shadow ;
        }
        
        .btn-menu-icon {
            color: $color-white;
            background-color: $color-dark;
            border: none;
            outline: none;
        }
    }
}
@media (min-width: 1200px) {
    .mainmenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "logo menulinks menuicons";
        padding-top: 20px;
        padding-bottom: 20px;

        .menu-links {
            grid-area: menulinks;
            font-weight: 500;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}