$color-white: #FFFFFF;
$color-theme: #FF7373;
$color-extralightgray: #F8F8F8;
$color-dark: #222529;
$color-gray: #BBBBBB;
$color-lightgray: #707066;
$color-darkgray: #616365;
$color-backgroundgray:#EDEDED;
$color-shadow: rgba(0, 0, 0, 0.06);
$linear-gradient-dark: #E6E6E6;
$linear-gradient-light: #F5F5F5;

$max-width: 1680px;